.color_background {
  background-color: var(--main-primary-color);
  position: fixed;
  height: 200%;
  width: 100%;
  transform: rotate(-15deg);
  left: -50%;
  top: -50%;
}
.logo_main img {
  background-color: var(--main-black-color);
  border-radius: 20px;
}
.banner_text:nth-child(1) {
  color: var(--main-text-color);
}
